aiohttp==3.7.4.post0
aiohttp-socks==0.6.0
aiorpcX==0.18.7
async-timeout==3.0.1
attrs==21.2.0
backcall==0.2.0
bitstring==3.1.7
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
configparser==5.0.2
cryptography==3.4.7
decorator==5.0.9
dnspython==2.0.0
helpdev==0.7.1
idna==3.2
ipdb==0.13.9
ipnb==0.1.0
ipython==7.24.1
ipython-genutils==0.2.0
jedi==0.18.0
matplotlib-inline==0.1.2
multidict==5.1.0
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
pkg-resources==0.0.0
prompt-toolkit==3.0.18
protobuf==3.17.3
ptyprocess==0.7.0
pycparser==2.20
pycryptodomex==3.10.1
Pygments==2.9.0
python-socks==1.2.4
QDarkStyle==2.8.1
qrcode==6.1
QtPy==1.9.0
six==1.16.0
toml==0.10.2
traitlets==5.0.5
typing-extensions==3.10.0.0
wcwidth==0.2.5
yarl==1.6.3
